<div class="container mx-auto p-8 md:px-12 lg:px-20" *ngIf="product">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-16 items-start">
        <!-- Product Image Section -->
        <div class="relative group">
            <img [src]=" selectedVariantImage || product.image" alt="{{ product.name }}" class="w-full h-auto max-w-2xl rounded-lg object-cover shadow-lg transition-transform 
             duration-500 ease-in-out group-hover:scale-105" />
            <div class="absolute top-4 left-4 bg-gradient-to-r from-purple-500 to-indigo-600 
                    text-white text-xs px-3 py-1 rounded-full shadow-sm">
                Exclusive
            </div>
        </div>

        <!-- Product Details Section -->
        <div class="space-y-8 text-right">
            <h1 class="text-5xl font-extrabold tracking-tight text-gray-900">{{ product.name }}</h1>
            <p class="">{{ product.descriptionAr }}</p>

            <!-- Variant Selection with Thumbnails -->
            <div *ngIf="product?.variants!.length > 0" class="mt-6">
                <h4 class="text-lg font-medium text-gray-700 mb-2">اختر اللون</h4>
                <div class="grid gap-4" style="grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));">
                    <div *ngFor="let variant of product.variants" (click)="selectVariant(variant)"
                        class="cursor-pointer p-2 " [class.border-indigo-500]="variant === selectedVariant">
                        <img [src]="variant.image || 'assets/placeholder.png'" [alt]="variant.sku"
                            class="w-12 h-12 object-cover rounded-full" />
                    </div>
                </div>

            </div>

            <div class="flex justify-between items-center">

                <button (click)="addToCart()" class="bg-gradient-to-r from-indigo-600 to-purple-600 hover:from-purple-700 hover:to-indigo-700 
                  text-white text-lg font-semibold py-4 px-10 rounded-full shadow-lg transition-all 
                  duration-300 ease-in-out transform hover:scale-105">
                    Add to Cart
                </button>
            </div>

            <div class="text-sm text-gray-500">
                Free shipping on all orders above 50 JOD. <span class="text-gray-700 underline">Learn More</span>
            </div>
        </div>
    </div>
</div>