<div class="nav-bar">
  <div class="nav-bar-cart">
    <i class="bx bx-cart bx-sm"></i>
  </div>
  <div class="nav-bar-logo">LOGO</div>
  <div class="nav-bar-menu">
    <i class="bx bx-menu bx-sm"></i>
  </div>
</div>

<div class="banner-main">
  <img
    class="banner"
    src="https://ik.imagekit.io/husian/banner-dark_W5uq7Dv5o%20(1).jpg?updatedAt=1723681981877"
    alt="banner"
  />
</div>

<div class="header">
  <h2 class="collection-header">Bags</h2>
</div>

<div class="btn-container">
  <h4 class="btn">Purses</h4>
  <h4 class="btn">Designer bags</h4>
  <h4 class="btn">Shoulder bags</h4>
  <h4 class="btn">Travel bags</h4>
</div>

<div class="product-list-container">
  <div class="product-list" [routerLink]="['pursesbags']"  >
    <img
      class="product-img"
      src="https://ik.imagekit.io/husian/purse-removebg-preview_Dg2F0Tc4V.png?updatedAt=1723681170384"
      alt="Purses"
    />
    <h5 class="product-list-text">Purses</h5>
  </div>
  <div class="product-list"[routerLink]="['designerbags']">
    <img
      class="product-img"
      src="https://ik.imagekit.io/husian/202649543-1-pink-removebg-preview_VSV6qfVeQ.png?updatedAt=1723681170422"
      alt="Designer bags"
    />
    <h5 class="product-list-text">Designer bags</h5>
  </div>
  <div class="product-list"[routerLink]="['shoulderbags']">
    <img
      class="product-img"
      src="https://ik.imagekit.io/husian/201868254-1-black_2b00csX-_.png?updatedAt=1723681170339"
      alt="Shoulder bags image"
    />
    <h5 class="product-list-text">Shoulder bags</h5>
  </div>
  <div class="product-list"[routerLink]="['travelbags']">
    <img
      class="product-img"
      src="https://ik.imagekit.io/husian/21789859-1-nero-removebg-preview_wgW5IS-k3.png?updatedAt=1723681170294"
      alt="Travel bags image"
    />
    <h5 class="product-list-text">Travel bags</h5>
  </div>
</div>
