<div class="flex flex-col md:flex-row ">
    <!-- Picture Section -->
    <picture class="order-1 md:order-2 w-full md:w-1/2">
        <source media="(max-width: 768px)" srcset="{{highlight.imagemob}}">
        <img src="{{highlight.image}}" alt="{{highlight.altimage}}" class="h-full w-full object-cover object-right">
    </picture>

    <!-- Text Section -->
    <div class="order-2 md:order-1 inset-0 flex flex-col justify-center px-4 w-full md:w-1/2">
        <div class="w-full flex flex-col md:flex-row justify-between items-center">
            <div class="mb-4 block"></div>
            <div class="text-center md:w-1/2">
                <h1 style="font-size: 1.5rem; line-height: 2; font-weight: 500;">
                    {{highlight.title}}
                </h1>
                <h2 style="font-size: 1.25rem; line-height: 2; font-weight: 500;">
                    {{highlight.description}}
                </h2>
                <button class="px-6 py-2 mt-4 border border-neutral-700 hover:border-opacity-75 rounded-md text-lg">
                    اكتشف المزيد
                </button>
            </div>
            <div class="hidden md:block"></div>
        </div>
    </div>
</div>