<section class="py-8 bg-white md:py-16 antialiased dir-rtl">
  <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
    <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">

      <!-- Image container -->
      <div class="shrink-0 max-w-md lg:max-w-lg mx-auto order-1 lg:order-2">
        <img class="w-full" [src]="product.imgUrl" alt="منتج توبيك" />
      </div>

      <!-- Content container -->
      <div class="mt-6 sm:mt-8 lg:mt-0 order-2 lg:order-1">
        <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl">
          {{product.name}}
        </h1>
        <div class="mt-4 sm:items-center sm:gap-4 sm:flex">
          <p class="text-2xl font-extrabold text-gray-900 sm:text-3xl">
            {{ product.price }} دينار
          </p>
        </div>

        <div class="grid grid-cols-2 gap-4 mt-8">
          <div *ngFor="let color of product.color; let i = index" class="flex items-center">
            <input [id]="'color-radio-' + i" type="radio" name="color-radio" class="w-4 h-4" [value]="color"
              [(ngModel)]="selectedColor">
            <label [for]="'color-radio-' + i" class="ms-2 text-sm font-medium">
              {{ color }}
            </label>
          </div>
        </div>

        <!-- Warning message -->
        <div *ngIf="showColorWarning" class="mt-4 text-red-600 text-sm">
          من فضلك اختر اللون قبل الإضافة إلى السلة.
        </div>

        <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
          <button (click)="addToCart()"
            class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100"
            role="button">
            <div class="bx bx-cart bx-sm ml-2"></div>
            أضف إلى السللة
          </button>
        </div>

        <hr class="my-6 md:my-8 border-gray-200" />

        <p class="mb-6 text-gray-500">
          {{product.description}} </p>
      </div>

    </div>
  </div>
</section>