<div class="container mx-auto px-4 md:px-6 lg:px-10 my-12">
  <p class="mb-12 tracking-wide text-gray-800 text-2xl">تسوق حسب العلامات التجارية</p>

  <div class="overflow-x-auto scroll-smooth scrollbar-hide">
    <div class="flex gap-12 px-2 items-center">
      <div *ngFor="let brand of brands" (click)="navigateToBrand(brand.route)"
        class="cursor-pointer transition-transform hover:scale-110 duration-300 w-32 h-32 flex-shrink-0">
        <img [src]="brand.logo" [alt]="'Logo of ' + brand.name" class="object-contain w-full h-full" [attr.width]="128"
          [attr.height]="128">
      </div>
    </div>
  </div>
</div>