<div class="nav-bar">
  <div class="nav-bar-cart">
    <i class="bx bx-cart bx-sm"></i>
  </div>
  <div class="nav-bar-logo">LOGO</div>
  <div class="nav-bar-menu">
    <i class="bx bx-menu bx-sm"></i>
  </div>
</div>

<div class="banner-main">
  <img class="banner" src="https://ik.imagekit.io/husian/banner-dark_W5uq7Dv5o%20(1).jpg?updatedAt=1723681981877"
    alt="banner" />
</div>
<div *ngIf="product">


  <div class="header">
    <h4 class="collection-header">{{product.title}}</h4>
  </div>

  <div class="product-list-container">
    <div class="product-list">
      <img class="product-img" [src]=product.imgUrl1 alt="GG Marmont matelasse mini bag" />
    </div>
    <div class="product-price">${{product.price}}</div>
    <div class="product-info">
      {{product.description}}
    </div>
  </div>

  <div class="buy-btn-container">
    <button class="buy-btn">Buy now</button>

  </div>
</div>