<div class="relative w-full">
    <!-- Carousel wrapper -->
    <div class="relative h-56 overflow-hidden rounded-lg md:h-auto">
        <div class="flex transition-transform duration-700 ease-in-out"
            [ngStyle]="{'transform': 'translateX(-' + currentIndex * 100 + '%)'}">
            <!-- Testimonial Item 1 -->
            <div *ngFor="let testimonial of testimonials"
                class="min-w-full flex flex-col items-center justify-center text-center">
                <img [src]="testimonial.avatar" class="w-16 h-16 mb-4 rounded-full" alt="Avatar">
                <p class="mb-2 text-lg font-medium text-gray-900">{{ testimonial.text }}</p>
                <h3 class="text-base font-semibold text-gray-700">{{ testimonial.name }}</h3>
                <span class="text-sm text-gray-500">{{ testimonial.occupation }}</span>
            </div>
        </div>
    </div>

    <!-- Slider controls -->
    <button (click)="prev()"
        class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer focus:outline-none">
        <span
            class="inline-flex items-center justify-center w-8 h-8 rounded-full bg-gray-800/30 hover:bg-gray-800/60 focus:ring-4 focus:ring-white">
            <svg class="w-4 h-4 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
            </svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button (click)="next()"
        class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer focus:outline-none">
        <span
            class="inline-flex items-center justify-center w-8 h-8 rounded-full bg-gray-800/30 hover:bg-gray-800/60 focus:ring-4 focus:ring-white">
            <svg class="w-4 h-4 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
            <span class="sr-only">Next</span>
        </span>
    </button>
</div>