<div class="w-full max-h-screen relative "> <!-- Adjust 64px to your navbar height -->
    <picture>
        <source media="(max-width: 768px)" srcset={{highlight.imagemob}}>
        <img src={{highlight.image}} alt={{highlight.altimage}}
            class="  w-screen object-cover object-right">
    </picture>

    <div class="md:absolute inset-0 flex flex-col justify-center  px-4 ">
        <div class="w-full md:w-1/3  flex flex-col md:flex-row justify-between items-center mt-5 ">
            <div class="hidden md:block"></div>
            <div class="text-center  ">
                <h1 style="font-size: 1.25rem; line-height: 2; font-weight: 500;">
                    {{highlight.description}}
                </h1>
                <button class="px-6 py-2 mt-4 border border-neutral-700 hover:border-opacity-75 rounded-md text-lg">
                    اكتشف المزيد
                </button>
            </div>
            <div class="hidden md:block"></div>
        </div>
    </div>

</div>