/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for other browsers */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
