<div class="container mx-auto px-4 md:px-6 lg:px-10 my-12 relative">
  <p class="mb-12 tracking-wide text-gray-800 text-2xl">الفئات المميزة</p>

  <div class="overflow-x-auto scroll-smooth scrollbar-hide">
    <div class="flex gap-6 px-2">

      <div *ngFor="let category of categories"
        class="bg-white rounded-3xl shadow-lg hover:shadow-2xl transition-transform transform 
                  hover:scale-105 duration-500 snap-center overflow-hidden flex-shrink-0 mb-5 w-48 h-48 relative cursor-pointer no-underline"
        [routerLink]="['/shop/category', category.handle]">

        <div class="absolute top-5 right-5 text-xl font-medium text-gray-500">
          {{ category.name }}
        </div>

        <div class="absolute bottom-5 left-5 w-20 h-20 overflow-hidden rounded-lg">
          <img [src]="category.image" alt="{{ category.name }}" class="w-full h-full object-cover" width="80"
            height="80">
        </div>

      </div>

    </div>
  </div>
</div>