<section class="bg-white py-8 antialiased md:py-16">
    <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
        <h2 class="text-xl font-semibold text-gray-900 sm:text-2xl">تفاصيل الطلب</h2>

        <div class="mt-6 sm:mt-8 md:gap-6 lg:flex lg:items-start xl:gap-8">
            <div class="mx-auto w-full flex-none lg:max-w-2xl xl:max-w-4xl">
                <div class="space-y-6">
                    <div class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm md:p-6">
                        <div class="space-y-4">
                            <p class="text-lg font-medium text-gray-700">رقم الطلب: {{ orderId }}</p>
                            <p class="text-lg font-medium text-gray-700">إجمالي الحساب: {{ totalPrice | currency:'JOD'
                                }}
                            </p>
                            <p class="text-lg font-medium text-gray-700">العنوان: {{ address }}</p>
                            <p class="text-lg font-medium text-gray-700">رقم الهاتف: {{ mobile }}</p>
                        </div>
                    </div>

                    <div class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm md:p-6">
                        <h3 class="text-lg font-semibold text-gray-900">تفاصيل المنتجات</h3>
                        <div *ngFor="let item of orderItems"
                            class="mt-4 border-t border-gray-200 pt-4 first:border-t-0 first:pt-0">
                            <div class="flex items-center">
                                <img [src]="item.product.imgUrl" alt="{{ item.product.name }}"
                                    class="h-20 w-20 rounded-lg">
                                <div class="ml-4">
                                    <h4 class="text-base font-medium text-gray-900">{{ item.product.name
                                        }}- {{item.color}}</h4>
                                    <p class="text-sm text-gray-500">الكمية: {{ item.quantity }}</p>
                                    <p class="text-sm text-gray-500">السعر: {{ item.price | currency:'JOD' }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mx-auto mt-6 max-w-4xl flex-1 space-y-6 lg:mt-0 lg:w-full">
                <div class="space-y-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm sm:p-6">
                    <a [href]="'https://wa.me/962798055229?text=' + ('مرحباً، لدي استفسار بخصوص الطلب رقم ' + orderId + '، رقم الهاتف: ' + mobile + '، العنوان: ' + address)"
                        target="_blank"
                        class="flex w-full items-center justify-center rounded-lg bg-green-600 px-5 py-2.5 text-sm font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-4 focus:ring-green-300">
                        تواصل معنا عبر واتساب
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                            stroke="currentColor" class="w-5 h-5 ml-2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4 4v16h16M4 4l16 16" />
                        </svg>
                    </a>

                    <div class="flex items-center justify-center gap-2">
                        <span class="text-sm font-normal text-gray-500"> أو </span>
                        <a href="#" title=""
                            class="inline-flex items-center gap-2 text-sm font-medium text-blue-600 underline hover:no-underline">
                            متابعة التسوق
                            <svg class="h-5 w-5 transform rotate-180" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                <path stroke="#1D4ED8" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 12H5m14 0-4 4m4-4-4-4" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>