<div class="nav-bar">
  <div class="nav-bar-cart">
    <i class="bx bx-cart bx-sm"></i>
  </div>
  <div class="nav-bar-logo">LOGO</div>
  <div class="nav-bar-menu">
    <i class="bx bx-menu bx-sm"></i>
  </div>
</div>
<div class="container">
<div class="header">
  <h2 class="collection-header">New collection <br> spring 2024</h2>
  <i class=' bx bxs-chevron-down-circle bx-lg'></i>
</div>



<div class="land-img-container">
  <img class="land-img" src="https://ik.imagekit.io/husian/Screen_Shot_2022-06-01_at_1.04.22_AM_lU5uC-XyW.png?updatedAt=1723711685717" alt="">
</div>

<div class="btn-container">
  <h4 class="btn" [routerLink]="['/bags']">Bags</h4>
  <h4 class="btn">Makeup</h4>
  <h4 class="btn">Clothing</h4>
  <h4 class="btn">Accessories</h4>
</div>

<div class="product-list-container">
  <div class="product-list" [routerLink]="['/bags']">
    <img
      class="product-img"
      src="https://ik.imagekit.io/husian/bags300.png?updatedAt=1723677342988"
      alt="Bags catgory image"
    />
    <h5 class="product-list-text">Bags</h5>
  </div>
  <div class="product-list">
    <img
      class="product-img"
      src="https://ik.imagekit.io/husian/cosmetics-removebg-preview.png?updatedAt=1723678564854"
      alt="Makeup catgory image"
    />
    <h5 class="product-list-text">Makeup</h5>
  </div>
  <div class="product-list">
    <img
      class="product-img"
      src="https://ik.imagekit.io/husian/dress.png?updatedAt=1723677087025"
      alt="Clothing catgory image"
    />
    <h5 class="product-list-text">Clothing</h5>
  </div>
  <div class="product-list">
    <img
      class="product-img"
      src="https://ik.imagekit.io/husian/watch-removebg-preview.png?updatedAt=1723678535882"
      alt="Accessories catgory image"
    />
    <h5 class="product-list-text">Accessories</h5>
  </div>
</div>
</div>
