<nav class="navbar">
    <div class="container2">
        <img class="nav-logo" src="https://toppik.jo/cdn/shop/files/Toppik_Jordan_Logo_180x.png?v=1613149714"
            alt="Toppik Logo">

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Shop Now</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/products">Special-Offers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Authorized">Authorized Sellers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact">Contact us</a>
            </li>
        </ul>

        <ul class="nav-icons">
            <div class="bx bx-search bx-sm"></div>
            <div class="bx bx-cart bx-sm"></div>
            <div class="bx bx-user bx-sm"></div>
            <div class="bx bx-menu bx-sm menu-icon"></div>
        </ul>
    </div>
</nav>