<section class="bg-white py-8 antialiased md:py-16">
    <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
        <h2 class="text-xl font-semibold text-gray-900 sm:text-2xl">قائمة الطلبات</h2>

        <div class="mt-6 space-y-6">
            <div *ngFor="let order of orders" class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm md:p-6">
                <div class="flex items-center justify-between">
                    <div>
                        <p class="text-lg font-medium text-gray-700">رقم الطلب: {{ order.id }}</p>
                        <p class="text-sm text-gray-500">تاريخ الطلب: {{ order.createdAt | date:'medium' }}</p>
                        <p class="text-sm text-gray-500">إجمالي السعر: {{ order.total | currency:'JOD' }}</p>
                        <p class="text-sm text-gray-500">الحالة: {{ order.status }}</p>
                    </div>
                    <div>
                        <button (click)="viewOrderDetails(order.id)"
                            class="inline-flex items-center text-sm font-medium text-blue-600 underline hover:no-underline">
                            عرض التفاصيل
                            <svg class="h-5 w-5 ml-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>